<% provide(:title, @user.name) %>

<div class="row">
	<section class="col-md-6 offset-md-3" id="profile">
		<h1><%= @user.name %></h1>
		<p class="center">Joined <%= time_ago_in_words(@user.created_at) %> ago</p>

		<hr>

		<div id="list-group">
			<% @lists.each do |list, title| %>
				<%= link_to words_path(list: list.to_s), class: "list-group-item list-group-item-action  d-flex justify-content-between align-items-center" do %>
					<%= title %>
					<span class="badge badge-primary badge-pill">
						<%= @user.send(list).count %>
					</span>
				<% end %>
			<% end %>
		</div>
	</section>
</div>
