<% unless word.nil? %>

	<h1><%= word.word %></h1>

	<button type="button" id="sen_btn">Show sentence</button>

	<p id="sen" class="hidden"><%= word.sentence %></p>

	<button type="button" id="def_btn">Show definition</button>

	<p id="def" class="hidden"><%= word.definition %></p>

	<%= link_to "nope", study_path(button: "nope"), class: "btn", remote: true %>
	<%= link_to "yeah", study_path(button: "yeah"), class: "btn", remote: true %>
	<%= link_to "easy", study_path(button: "easy"), class: "btn", remote: true %>
	<%= link_to "know", study_path(button: "know"), class: "btn", remote: true %>

<% else %>

	<p>You studied all words for today</p>

<% end %>