<header>
	<nav>
		<%= link_to "Words",  root_path, id: "logo" %>
		<%= link_to "Help",   help_path %>
		<% if logged_in? %>
			<%= link_to "Users", users_path %>
			<%= link_to "Profile", current_user %>
			<%= link_to "Settings", edit_user_path(current_user) %>
			<%= link_to "Log out", logout_path, method: :delete %>
		<% else %>
			<%= link_to "Log in", login_path %>
		<% end %>
	</nav>
</header>